[alias]
xtask = "run --package xtask --bin xtask --"
run-viz-debug = "run --package eu4viz --bin eu4viz -- --log-level debug"
run-viz-info = "run --package eu4viz --bin eu4viz -- --log-level info"
run-viz-trace = "run --package eu4viz --bin eu4viz -- --log-level trace"
run-sim-debug = "run --package eu4sim --bin eu4sim -- --log-level debug"
run-sim-info = "run --package eu4sim --bin eu4sim -- --log-level info"
run-sim-trace = "run --package eu4sim --bin eu4sim -- --log-level trace"
cov = "llvm-cov --summary-only"
cov-summary = "llvm-cov --summary-only"

[build]
incremental = true
